.header{
    background-color: #1F2937;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 5em 0 5em;
}


.headerlogo {
    font-size: 24px;
    font-weight: bold;
}

ul{
    list-style-type: none;
    display: flex;
    margin-left: auto;
    font-size: 18px;
    gap: 20px;

    
}

a{
    color: white;
    text-decoration: none;
}

h1{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8
    
}

.partone{
    display: flex;
    background-color: #1F2937;
    color:#f9faf8;
    padding: 0 5em 5em 5em;
    
}

.partone.left{
    padding-left: 5em;
    display: flex;
}

.placeholder{
    background-color: #cbcdd1;
}

.parttwo{
    color:#1F2937;
    text-align: center;
    padding: 0 5em 5em 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card{
    width: 200px;
    height: 200px;
    border: 5px solid #3882f6;
    border-radius: 15px;
}

h2{
    font-size: 36px;
    font-weight: bolder;
}

.partthree {
    background-color: #e5e7eb;
    color: #1F2937;
    font-style: italic;
    font-size: 36px;
    padding: 2em 5em 2em 5em;
    }

#thor{
    color: #1F2937;
    text-align: end;
    font-size: ;
}

.partfour{
    padding: 5em;
}

.action{
    background-color: #3882f6;
    border-radius: 15px;
    padding: 2em;
}

footer{
    background-color: #1F2937;
    font-size: 18px;
    text-align: center;
    color: #f9faf8;
    padding: 1em;
}

.signup{
    font-size: 18px;
    padding: 10px;
    color: #f9faf8;
    background-color: #3882f6;
    border: none;
    border-radius: 5px;
    }